@font-face {
    font-family: 'CooperHewitt';
    font-weight: bold;
    src: url("./font/cooper-hewitt.heavy.otf") format("opentype");
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'CooperHewitt';
    color: #fff;
    min-height: 100%;
    min-width: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
    position: relative;
}
:root {
    --tileBg: linear-gradient(#93B3CFaa, #ABC0D6aa);
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}

#city-search{
    margin: 2em auto;
    text-align: center;
}
input{
    font-size: 2em;
    border: none;
    background: var(--tileBg);
    text-align: center;
    opacity: 1;
    color: #fff;
}
::-webkit-input-placeholder {
    color:#fff;
}

::-moz-placeholder {
    color:#fff;
}
button{
    width: 3em;
    height: 3em;
    border: none;
    background: var(--tileBg);
    color: #fff;
}
#container{
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2em;
    font-weight: 800;
}

#left-container{
    grid-column:1/2;
    background: var(--tileBg);
    display: flex;
    flex-direction: column;
    text-align: center;
}
#center-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    text-align: center;
}

#right-container{
    grid-column:3/4;
    background: var(--tileBg);
    text-align: center;
    display: flex;
    flex-direction: column;
}
#current-city-name{
    position: relative;
    grid-column: 1/ span 2;
    font-size: 2em;
    padding: 1em 0;
}
.next-day {
    background: var(--tileBg);
    /* background-color: #94B4CF; */
}

p{
  font-size: 2em;
    margin: 0.4em;
}
#day2,#day3,#day4,#day5{
    font-size: 3em;
    margin: 0.4em;
}
#max,#min,#humidity{
    font-size: 1.8em;
    margin: 0.2em;
}
.addremove{
    position: absolute;
    color: rgba(255, 255, 255, 0);
    -webkit-transition: .7s;
    transition: .7s;
}

.plus{
    font-size: 0.75em;
    top: 10px;
    right: 10px;
}
#current-city-name:hover  .plus {
    color: rgba(255, 255, 255,255)
}


.favourite{
    position: relative;
    padding: 0.5em;
    font-size: 2em;
    cursor: pointer;

}

.minus{
    font-size: 0.7em;
    right: 5px;
    top:0px;
    cursor: default;
}

.favourite:hover  .minus {
    color: rgba(255, 255, 255,255)
}

p{
  font-size: 1.5em;
}

.search-icon{
    font-size: 2em;
}
.next-day-icon{
     padding-top: 0.4em;
     font-size: 5em;
 }
.today-icon{
    font-size: 8em;
    padding: 0.4em 0;
}
#date{
    font-size: 2.2em;
    padding: 0.2em 0;
}
#temp{
    font-size: 4em;
    padding: 0.2em 0;
}
#other-info{
    display: flex;
    flex-direction: column;
}
.other-info-text{
     font-size: 1.5em;
 }
.icon{
    font-size: 6em;
}
#main-icon{
    padding: 0.2em 0;
    font-size: 8em;
}
#today-day-name{
    font-size: 1.8em;
    padding: 0.4em 0.2em;
}
#videoBg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    background: rgb(78, 126, 185);
}
#videoBg > video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.8;
}

@media (max-width: 800px){
    #container{
        display: block;
    }
    #center-container{
        display: block;
    }
    #left-container{
        margin-bottom: 2em;
    }
    .next-day {
        margin: 1.5em 0;
        padding: 0.5em 0;
    }
    #other-info{
        display: flex;
        flex-direction: column;
    }

    #plus_icon {
        color: rgba(255, 255, 255,255)
    }

    #minus_icon {
        color: rgba(255, 255, 255,255)
    }
}
@media (max-width: 500px){
    #city-search{
        display: flex;
        flex-direction: column;
    }
    input {
        font-size: 1.5em;
        padding: 0;
        margin: 0 1em;
    }
    button{
        margin: 1em auto 0 auto;
        width: 2.5em;
        height: 2.5em;
    }
    .search-icon{
        font-size: 1.5em
    }
}